div{
    height: 250px;
    width: 450;
    background-color: black;
}
.d1{
    height: 150px;
    width: 200px;
}
p{
    margin-left: 600px;
    margin-bottom: 8 00px;
}
   
input{
    background-color: aqua;
}